.content{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.content h1{
    text-align: center;
}

.content a{
    text-decoration: none;
}

.overview{
    margin-top: 5%;
    margin-bottom: 5%;
}

.progress_bar{
    position: relative;
    height:25px;
}

.child_progress_bar{
    position: relative;
    height:25px;
    width: 90%;
}

.percent{
    text-align:center;
    font-weight:bold;
    width: 100%;
    margin-top: -4.3%;
}

.child_percent{
    text-align:center;
    font-weight:bold;
    margin-top: -9.6%;
    width: 100%;
}

.category-child{
    height: 10%;
    width: 50%;
    margin-top: 5%;
    float:left;
}

.achievements{
    border-style: solid;
    border-width: 1px;
    height: 120px;
    margin: 10px;
    text-align: justify;
}

.icon{
    float: left;
    width: 20%;
}

.trophy{
    float: left;
    width: 10%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.achievement-content{
    text-align: center;
    float:left;
    width: 60%;
}

.points{
    float:left;
    margin-top: 2%;
}

.grey_achievements{
    border-style: solid;
    border-width: 1px;
    background-color:#999999;
    height: 120px;
    margin: 10px;
    text-align: justify;
}
