.content{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 75%;
}

.content h1{
    text-align: center;
}

.content a{
    color:#990000;
    text-decoration: none;
}

.child{
    height: 200px;
    width: 50%;
    float:left;
}

.achievement-menu{
    border-style: solid;
    border-width: 1px;
    overflow:scroll;
    overflow-x: hidden;
    height: 50%;
}

.achievements{
    border-style: solid;
    border-width: 1px;
    height: 120px;
    margin: 10px;
    text-align: justify;
}

.icon{
    float: left;
    width: 10%;
}

.trophy{
    float: left;
    width: 15%;
    margin-top: 2%;
    margin-right: 2%;
}

.achievement-content{
    text-align: center;
    float:left;
    width: 65%;
}

.points{
    float:left;
    margin-top: 2%;
}

.grey_achievements{
    border-style: solid;
    border-width: 1px;
    background-color:#999999;
    height: 120px;
    margin: 10px;
    text-align: justify;
}
