.navi_content{
  font-family: Arial, Helvetica, sans-serif;
}

.navi_content a{
    color:#990000;
    text-decoration: none;
}

.navi_content a:active{
    color:#003366; 
}

.navi_content a:hover{
    color:#003366; 
}