{% load staticfiles %}
{% include "achievements/navigation.html" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/category_style.css"/>

<div class="content">
    {% for category in all_categories %}
        {% if category.id|stringformat:"s" == categoryID %}
            {% if category.parent_category > 0 %}
                <h1>{{ category.parent_category }} - {{ category.name }}</h1>
            {% else %}
                <h1>{{ category.name }}</h1>
            {% endif %}
            {% if category.child_categories.all.count > 0 %}
                <div class="overview">
                    <p><b>Summary of Achievements earned</b></p>
                    <p>{{ all_bar }} / {{ category.count_all_achievements }}</p>
                </div>
                {% for child in category.child_categories.all %}
                    <div class="child">
                        <p><b>{{ child.name }}</b></p>
                        <p>{{ cycle }}</p>
                        <p>Here's the progress bar for {{ child.name }}</p>
                        {% with count=forloop.counter0 %}
						{{ count }}
						<p>{{ child_progress.count }} / {{ child.count_achievements }}</p>
						{% endwith %}
                        <a href="{% url achievements:category category_id=child.id %}">show Achievements</a>
                    </div>
                {% endfor %}
            {% else %}
                {% if achievement_list %}
                    <div class="overview">
                        <p><b>Summary of Achievements earned</b></p>
                        <p>Here's the progress bar for {{ category.name }}</p>
                        <p>{{ progress }} / {{ category.count_achievements }}</p>
                    </div>
                    <p><b>Achievements:</b></p>
                    <div class="achievement-menu">
                        {% for achievement in achievement_list %}
                            {% if achievement in achievements_accomplished %}
                                <div class="achievements">
                                    <div class="icon">
                                        <img src="{{ achievement.icon.url }}" alt="Achievement" />
                                    </div>
                                    <div class="achievement-content">
                                        {% autoescape off %}{{ achievement.render }}{% endautoescape %}
                                    </div>
                                    <div class="points">
                                        <p>{{ achievement.points }}</p>
                                        <p>XP</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for achievement in achievement_list %}
                            {% if not achievement in achievements_accomplished %}
                                <div class="grey_achievements">
                                    <div class="icon">
                                        <img src="{{ MEDIA_URL}}uploads/icons/standard.png" alt="Standard" />
                                    </div>
                                    <div class="achievement-content">
                                        {% autoescape off %}{{ achievement.render }}{% endautoescape %}
                                    </div>
                                    <div class="points">
                                        <p>{{ achievement.points }}</p>
                                        <p>XP</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No Achievements!</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>