{% extends "achievements/base.html" %}
{% load achievement_tags %}

{% block content %}
<h1>{% if category %}{{ category.name }}{% else%}Overview{% endif %}</h1>
<h2>Trophies</h2>
{# calling render_trophies function with parameter user at inclusion tag file (achievement_tags.py) #}
{% render_trophies user %}
<div class="overview">
    <div class="overview">
        <p><b>Summary of Achievements earned</b></p>
        <div class="progress_bar">
            <div class="progress">
                <div class="bar" style="width: {{ complete_percentage }}%"></div>
            </div>
            <div class="percent">
                <p>{{ achievements_complete }} / {{ all_achievements }}  ({{ complete_percentage }}%)</p>
            </div>
        </div>
    </div>
    {% for category in category_list %}
    {# calling render_category function with parameters category and user at inclusion tag file (achievement_tags.py) #}
    {% render_category category user %}
    {% endfor %}
</div>
{% endblock %}