{% load staticfiles %}
{% include "achievements/navigation.html" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/index_style.css"/>

<div class="content">
    {% for category in category_list %}
        <h1>{{ category.name }}</h1>
        <p><b>Trophies</b></p>
        <div class="trophy-menu">
            {% for trophy in trophies_list %}
                <div id="trophy">
                    <div class="icon">
						{% if trophy.icon != None %}
							<img src="{{ trophy.icon.url }}" alt="Achievement" title="{{ trophy.category }} - {{ trophy }}" />
						{% else %}
							<img src="{{ MEDIA_URL}}uploads/icons/x.png" alt="Empty" />
						{% endif %}
					</div>
                    <div id="button"><p><a href="">Customize</a></p></div>
                </div>
            {% endfor %}
        </div>
        <div class="overview">
            {% if category.child_categories.all.count > 0 %}
                <div class="overview">
                    <p><b>Summary of Achievements earned</b></p>
                    <p>Here's the progress bar for {{ category.name }} - {{ category.count_all_achievements }}</p>
                </div>
                {% for child in category.child_categories.all %}
                    <div class="child">
                        <p><b>{{ child.name }}</b></p>
                        <p>Here's the progress bar for {{ child.name }} - {{ child.count_all_achievements }}</p>
                        <a href="{% url achievements:category category_id=child.id %}">show Achievements</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>