{% load staticfiles %}
{% include "achievements/trophy_navigation.html" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/category_style.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

<div class="content">
    <p><b>Achievements:</b></p>
    <div class="achievement-menu">
        {% if achievement_list %}
            {% for achievement in achievement_list %}
                {% if achievement in achievements_accomplished %}
                    <div class="achievements">
                        <div class="icon">
                            <img src="{{ achievement.icon.url }}" alt="{{ achievement.name }}" />
                        </div>
                        <div class="achievement-content">
                            {% autoescape off %}{{ achievement.render }}{% endautoescape %}
                        </div>
                        <div class="trophy">
                            <a href="">Trophy</a>
                        </div>
                        <div class="points">
                            <p>{{ achievement.points }}</p>
                            <p>XP</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Achievements!</p>
        {% endif %}
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</div>