{% for achievement in complete_achievements_list %}
	{% if not achievement in trophies %}
	<a href="{% url achievements:trophy achievement_id=achievement.id trophy_slot=trophy_pos %}">
	<div class="well">
	    <div class="pull-left">
	        <img src="{{ achievement.icon.url }}" alt="{{ achievement.name }}" />
	    </div>
	    <div class="pull-left" style="padding-left:30px;">
	        {% autoescape off %}{{ achievement.render }}{% endautoescape %}
	    </div>
	    <div class="pull-right">
	        <p>{{ achievement.points }} XP</p>
	    </div>
	    <div class="clearfix"></div>
	</div>
	</a>
	{% endif %}
{% endfor %}